rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function notUpdating(field) {
      return !(field in request.resource.data)
      || resource.data[field] == request.resource.data[field]
    }

    match /networks/{network} {
      allow read: if true;
      allow write: if false;
    }

    match /networks/{network}/servers/{server} {
    	allow write: if request.auth != null;
      allow read: if true;
    }
    
    match /networks/{network}/messages/{msg} {
    	allow write: if false;
      allow read: if true;
    }

    match /users/{document=**} {
      allow get: if true;
      allow list: if false;
      allow create: if false;
      allow delete: if false;
      allow update: if false;
    }
  }
}